In [ ]:
import org.apache.spark.sql.functions

Spark SQL String Functions
String functions are grouped as "string_funcs" in spark SQL.

String Function Signature       String Function Description

In [ ]:
ascii(e: Column): Column
"""
Computes the numeric value if the first character of the string column, and returns the result as an int column.
"""

In [ ]:
base64(e: Column): Column
"""
Computes the BASE64 encoding of a binary column and returns it as a string column. This is the reverse of unbase64.
"""

In [ ]:
concat_ws(sep: String, exprs: Column*): Column
"""
Concatenates multiple input string columns together into a single string column, using the given separator.
"""

In [ ]:
decode(value: Column, charset: String): Column
"""
Computes the first argument into a string from a binary using the provided character set (one of 'US-ASCII', 'ISO-8859-1', 'UTF-8', 'UTF-16BE', 'UTF-16LE', 'UTF-16')
"""

In [ ]:
encode(value: Column, charset: String): Column
"""
Computes the first argument into a binary from a string using the provided character set (one of 'US-ASCII', 'ISO-8859-1', 'UTF-8', 'UTF-16BE', 'UTF-16LE', 'UTF-16')
"""